.h{
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
}
. {
    font-family: "lora", serif;
    font-weight: 900;
}



  .font {
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  }
  .font-2 {
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  }